
{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('assets/css/style.css') }}">
{% endblock %}

{% block body %}

<form method="POST" action="#">
  <label for="mail">Mail</label>
  <input name="mail" type="text" id="mail">
  <label for="mdp">Mot de passe</label>
  <input name="mdp" type="password" id="mdp">
  <input type="submit" value="Connexion">
</form>

{% endblock %}