  {# <?= $renderer->render('header'); ?> #}

  {% extends 'admin.layout.html.twig' %}

  {% block stylesheet %}
      <link rel="stylesheet" href="{{ assets('assets/css/style.css') }}">
  {% endblock %}

  {% block body %}
  
  <!-- a la base form pas faits pour transiter imgs -->
<!-- ajouter enctype pour recup le file de l input file -->
<form method="POST" action="#" enctype="multipart/form-data">
    <label for="modele">Modèle</label>
    <input name="modele" type="text" id="modele">
    <label for="marque">Marque</label>
    <select name="marque">
      <option value="null" selected>---</option>
      {% for marque in marques %}
        <option value="{{marque.id}}">{{ marque.name}}</option>
      {% endfor %}
    </select>
    <label for="couleur">Couleur</label>
    <input name="couleur" type="color" id="color">
    <input name="img" id="img" type="file">
    <input type="submit" value="Ajouter">
</form>

{% endblock %}




