{% extends 'admin.layout.html.twig' %}

{% block body %}
    <h1>Modifier la marque {{marque.name}} </h1>
    <form action="" method="POST">
        <label for="name">Modifier le modèle:</label>
        <input type="text" name="name" id="name" value="{{marque.name}}"><br>
        <input type="submit" value="Modifier">

    </form>
    
    

{% endblock %}